@import url('https://fonts.googleapis.com/css?family=Bellefair|Roboto+Condensed');

* {
  font-family: 'Roboto Condensed'  !important;
}

.thumbnail img {
    height:300px;
    width:100%;
}

.fa-file-pdf {
  color:red
}

.text {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .thumbnail:hover .overlay {
    opacity: 0.9;
  }
  
 button:hover {
   cursor: pointer;
 }