<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../styles/contact_us_style.css">
</head>
<body>

<style>
  body {
    background-image: url('https://images5.alphacoders.com/359/359452.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

<div class="container">
    <h3>Contact Us</h3>
  <form action="/emailRoutes" method="post">
    <label for="email">Your Email</label>
    <input type="text" id="fname" name="email" placeholder="Your name..">

    <label for="subject">Subject</label>
    <input type="text" name="subject" placeholder="subject">

    <label for="subject">Message</label>
    <textarea id="subject" name="message" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
