<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/animate.css">
    <title>Document</title>
    <style>
        .image {
            text-align: center;
            margin-top:100px;
        }
        a {
            margin-top:30px;
            display: block;
            text-decoration: none;
            color: #111;
            font-size: 1.2rem
        }
    </style>
</head>
<body>
    <div class="image animated fadeInRightBig">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9ATnv-UQO_5BuoYtsPD2mFCUHT5iADYf8c_fyEtJLmWPrZM7B" alt="">
        <a href="/upload">Go back to the CMS</a>
        </div>
</body>
</html>