<head>
        <link rel="stylesheet" href="../styles/user_page_navbar.css">
</head>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Guitar world</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/user_home_page">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tabsLibrary">Tabs library</a>
            </li>
            <li class="nav-item">
                <a href="/guitar_Videos" class="nav-link">videos</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">tutorials</a>
            </li>
          </ul>
          <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  settings <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/profile">profile</a>
                  <a class="dropdown-item" href="/change_password">change password</a>
                  <a class="dropdown-item" href="#">Add a tab to the library</a>
                </div>
              </div>
            <a href="/logout" class="btn btn-outline-danger">logout</a>
        </div>
      </nav>
