
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="../styles/user_home_page.css">
    <title>Document</title>
</head>
<body>
  
  <% include ../../partials/user_page_navbar %>
  <div class="container">
      <div class="jumbotron">
          <h1>Welcome to Guitar world</h1>
          <p class="lead">this is the home page where you will recive updates about other users and new uploaded tabs and tuteriols </p>
          <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Let's get Started &raquo;</a>
        </div>
        <div class="row">
          <div class="col-sm">
            <h3 class="head"><a href="./tabs_library/tabs_library">Tabs</a></h3>
            <p>fast access to lots of tabs in the website, so you can start learning right a way</p>
          </div>
          </div>
          <hr>
          <div class="row">
          <div class="col-sm">
            <h3 class="head"><a href="">Vidoes</a></h3>
            <p>lots of tuteriol videos with tabs and playback and accompany music</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
              <h3 class="head"><a href="">tuteriols</a></h3>
              <p>Access to big collection of chords and scales with explenations for each</p>
            </div>
          </div>
  </div>
  

  <footer>
    <% include ../../partials/footer %>
  </footer>

  <!-- <a href="https://twitter.com/92a8117c4ff14dd?ref_src=92a8117c4ff14dd" class="twitter-follow-button" data-show-count="false">Follow @asdsa</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
