<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/index_style.css">
    <link rel="stylesheet" href="../styles/animate.css">
    <title>Document</title>
    <% include ../partials/head %> 
</head>
<body class="container">

    <header>
    <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>hello and Welcome to Guitar world!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatum minus iure delectus qui sit distinctio id officia repudiandae ab autem quibusdam nobis consequatur, quasi, ut saepe enim dolorem recusandae!</p>
        </div>
    </main>

    <div class="animated fadeIn">
            <% include ../partials/images %>
        </div>
        
    <div class="jumbotron section-2">
        <h1>Learn with Tabs and Connect with other people</h1>
        <hr>
            <div class=row>
                <div class="col-sm">
                    <div class="tabs-images">
                    <img src="../assets/Classical-Gas1.jpg" alt="" class="img-thumbnail">
                    <img src="../assets/Cancion-Del-Mariachi.jpg" alt="" class="img-thumbnail">
                    <img src="../assets/When-You-Say-Nothing-At-All.jpg" alt="" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>


    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>